<ul class="pagination">
    <li class="page-item {% if not prev_page %}disabled{% endif %}">
        <a class="page-link" href="?page={{ prev_page }}" aria-disabled="true">
            <i class="fa fa-arrow-left-long"></i>
        </a>
    </li>
    {% if page_obj.number != 1 %}
        <li class="page-item">
            <a class="page-link" href="?page=1">1</a>
        </li>
    {% endif %}
    <li class="page-item active" aria-current="page">
        <a class="page-link" href="?page={{ page_obj.number }}">
            {{ page_obj.number }}
        </a>
    </li>
    {% if page_obj.number != paginator.num_pages %}
    <li class="page-item">
        <a class="page-link" href="?page={{ paginator.num_pages }}">
            {{ paginator.num_pages }}
        </a>
    </li>
{% endif %}
    <li class="page-item {% if not next_page %}disabled{% endif %}">
        <a class="page-link" href="?page={{ next_page }}">
            <i class="fa fa-arrow-right-long"></i>
        </a>
    </li>
</ul>
